/* all of this code is stolen from here: https://www.w3schools.com/howto/howto_css_chat.asp */

/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

/* stolen from here: https://codepen.io/idreyn/pen/XbOgmE */
html, body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

#friend-list {
    display: block;
    margin: 0;
    padding: 0;
    width: 300px;
    background: #EEE;
    list-style-type: none;
}

.friend {
    width: 300px;
    height: 60px;
    background: #EEE;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.friend img {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border: 2px solid #AAA;
    object-fit: cover;
    margin-left: 5px;
    margin-right: 10px;
}

.friend .name {
    font-size: 18px;
}

.friend.selected {
    background: #43A047;
    color: white;
}

.friend.selected img {
    border-color: white;
}

.friend:not(.selected):hover {
    background: #DDD;
}
