.submit-button {
    margin: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: #008CBA;
    color: white;
}


.user-profile {
    margin: 5px;
    padding: 10px;
    border: solid 2px black;
    border-radius: 10px;
}

/*
.calendar {
    border: solid;
}
.time-slots-columns {
    display: flex;
}

.TA-column {
    border: solid 1px;
}

.time-slot-margin {
    margin-top: 28px;
}

.available-timeSlot {
    padding: 2px 5px 2px 5px;
    border: solid 1px;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #36c036;
}
*/

/* Define a container for the entire booking page */
/* style.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Side menu */
.side-menu {
    background-color: #333;
    color: #fff;
    width: 20%;
    height: 100vh;
    position: fixed;
}

/* Main view */
.main-view {
    margin-left: 20%; /* Adjust this margin to match the width of your side menu */
    padding: 20px;
}

/* Booking view */
.booking-view {
    background-color: #fff;
    border: 1px solid #cbcbcb;
    padding: 20px;
    max-height: 550px;
    overflow: auto;
}

.booking-date {
    padding: 5px;
    margin: auto;
    border-bottom: 1px solid #cbcbcb;
}

/* Calendar */
.calendar {
    width: 100%;
}

.calendar th {
    position: sticky;
    background-color: black;
    color: white;
    top: 0;
    z-index: 2;
    text-align: left;
    padding: 5px;
}

/* Calendar column */
.calendar-column {
    flex: 1;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
}

/* Time slots column */
.time-slots-columns {
    display: flex;
}

/* TA column */
.TA-column {
    border: 1px solid #ddd;
    margin: 1px;
    padding: 10px;
}

/* The leftmost column with timestamps in calendar */
.booking-time {
    white-space: nowrap;
    display: inline-block;
}

/* Class for styling of checkbox for the timeslots */
.book-checkbox {
    margin: 5px;
}

/* Class for styling of TAs unbooked timeslots that they can book */
.unbooked-timeslot {
    background-color: #ffffff; /* Green background color */
    color: #000000;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px; /* Add margin bottom to separate time slots */
}

/* Available time slot */
.available-timeSlot {
    background-color: #5cb85c; /* Green background color */
    color: #fff;
    padding: 5px;
    margin-bottom: 10px; /* Add margin bottom to separate time slots */
}
.unavailable-timeslot {
    background-color: #f8f8f8; /* Grey background color */
    color: #000000;
    padding: 5px;
    margin-bottom: 10px; /* Add margin bottom to separate time slots */
}

/* For adding row styling */
tr {
    border-bottom: 1px solid #ddd;
}

