/* Landing page */
.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.custom-img-link {
    float: left;
}

.icon-container {
    max-width: 480px;
}



.submit-button {
    margin: 20px;
    padding: 10px;
    border-radius: 12px;
    background-color: #008CBA;
    border-color: #008CBA;
    color: white;
    font-size: 16px;
}


/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #00779d;
}
h2 {
    color: #00779d;
}

/* Side menu */
.side-menu {
    z-index: 2;
    background-color: #333;
    color: #fff;
    width: 20%;
    height: 100vh;
    position: fixed;
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

/* The menu logo "MentorMate" */
.logo-title {
    font-size: 32px;
}

.side-menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #555;
}

/* Make the first element twice as tall */
.side-menu-profile-link {
    height: 120px;
}
.profile {
    padding-top: 10px;
}
.profile-icon {
    font-size: 52px;
}

.side-menu a:hover {
    color: black;
    background-color: #dcdbdb;
}



/* Main view */
.main-view {
    margin-left: 20%;
    padding: 20px;
}


/* Profile view */
.profile-container {
    text-align: center;
    max-width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.profile-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Make the profile picture round */
}

.tutor-name {
    margin-top: 10px;
    margin-bottom: 0;
}

.bio {
    font-style: italic;
    margin-bottom: 20px;
}

.user-type {
    font-weight: bold;
    margin-top: 5px;
}

.about,
.contact-info,
.availability {
    margin-bottom: 5px;
}

.container-availability-table {
    border: 1px solid #cbcbcb;
    max-height: 350px;
    overflow: auto;
    border-radius: 12px;
}
/*
.message-button {
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.message-button:hover {
    background-color: #00506b;
}
*/



/* Card view around table view */
.booking-view {
    background-color: #fff;
    border: 1px solid #cbcbcb;
    padding: 20px;
    min-height: 400px;
    max-height: 85%;
    overflow: auto;
    border-radius: 12px;
}

/* Calendar date input and submit */
.booking-date {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

/* Calendar date input and submit */
.booking-date-form {
    margin-bottom: 0;
    display: flex;
}

.arrow-button {
    background-color: transparent;
    border: none;
}

.left-arrow {
    padding: 8px;
    font-size: 20px;
    border: 3px solid #008CBA;
    background-color: #008CBA;
    border-radius: 12px 0 0 0;
    color: white;
}

.right-arrow {
    padding: 8px;
    font-size: 20px;
    border: 3px solid #008CBA;
    background-color: #008CBA;
    color: white;
}

.input-calendar {
    height: 100%;
    padding: 9px;
    font-size: 16px;
    border: 3px solid #008CBA;
    border-radius: 0 0 0 0;
}

.calendar-submit {
    height: 100%;
    padding: 11px;
    font-size: 16px;
    border: 3px solid #008CBA;
    border-radius: 0 12px 0 0;
    background-color: #008CBA;
    color: white;
}


/* Tutor location dropdown */
.location-dropdown {
    position: relative;
    display: inline-block;
}

.location-dropbtn {
    color: white;
    padding: 11px;
    font-size: 16px;
    background-color: #008CBA;
    border: 3px solid #008CBA;
    border-radius: 12px 12px 0 0;
    cursor: pointer;
}

.location-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
    z-index: 2;
}

.location-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.location-dropdown-content a:hover {
    background-color: #e0e0e0
}

.location-dropdown:hover .location-dropdown-content {
    display: block;
}

.location-dropdown:hover .dropbtn {
    background-color: #017093;
}



.location-submit {
    padding: 11px;
    font-size: 16px;
    border: 3px solid #008CBA;
    border-radius: 0 12px 0 0;
    background-color: #008CBA;
    color: white;
}




/* Calendar */
.calendar {
    width: 100%;
    min-height: 100px;
    border-collapse: collapse;
    justify-content: center;
    overflow-x: auto;
}


.calendar th {
    position: sticky;
    top: 0;
    z-index: 1;
    min-width: 155px;
    background-color: #008CBA;
    color: white;
    text-align: left;
    padding: 5px;
}



.calendar td {
    padding: 5px;
}


/* Time slots column */
.time-slots-columns {
    display: flex;
}

/* TA column */
.TA-column {
    border: 1px solid #ddd;
    margin: 1px;
    padding: 10px;
}

/* The leftmost column with timestamps in calendar */
.booking-time {
    white-space: nowrap;
    display: inline-block;
}

/* Class for styling of checkbox for the timeslots */
.book-checkbox {
}

/* Class for styling of TAs unbooked timeslots that they can book */
.unbooked-timeslot {
    font-size: 16px;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    margin-bottom: 10px;
}

/* Available time slot */
.no-booking-cell {
    font-size: 16px;
}
.available-timeSlot {
    font-size: 16px;
    background-color: #a1e5a1;
    color: #000000;
    padding: 5px;
    margin-bottom: 10px;
}

.unavailable-timeslot {
    font-size: 16px;
    background-color: #d0d0d0;
    color: #000000;
    padding: 5px;
    margin-bottom: 10px;
}

.user-booked-timeslot {
    font-size: 16px;
    background-color: #acf3ff;
    color: #000000;
    padding: 5px;
    margin-bottom: 10px;
}

.right-button {
    float: right;
}

/* For adding row styling */
tr {
    border-bottom: 1px solid #ddd;
}





/* Bookings icons */
.table-button {
    background-color: transparent;
    font-size: 16px;
    border: solid 1px;
    border-radius: 12px;
}

.calendar-icon {
    font-size: 16px;
}

.clock-icon {

}

.location-icon {

}

.tutor-icon {

}

.cancel-icon {
    color: red;
}

.message-icon {

}

.book-icon {
    color: darkgreen;
}

.remove-icon {
    color: red;
}